{% load static %}
<div id="clients" class="clients section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel clients-slider">
                    <div class="single-clients">
                        <img src="{% static ' img/brand-1.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-2.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-3.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-4.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-5.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-6.png' %}" alt="#">
                    </div>
                    <div class="single-clients">
                        <img src="{% static ' img/brand-1.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>