{% load static %}
<section id="contact" class="contact section" style="background-image: url('{% static 'img/вход2.png' %}'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="contact-info">
                    <h4>Contact info</h4>
                    <p>Вы можете задать любой вопрос или заказать продукт.
                        Работаем по всей России, СНГ и Европе.</p>
                    <span><i class="fa fa-phone-square"></i>+7 923 503 16 41</span>
                    <span><i class="fa fa-map-marker"></i>Россия,Кемеровская область,Кемерово ул.Кузбасская 10 офис 312a</span>
                    <span><i class="fa fa-envelope"></i><a href="#">natabober1964@gmail.com</a></span>
                    <span><i class="fa fa-globe"></i><a href="#"></a></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact -->