{% load static %}
<footer id="footer" class="footer section">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Social -->
					<ul class="social">
						<li class="WhatsApp"><a href="https://wa.me/+79235031641"><i class="fa fa-whatsapp"></i></a></li>
						<li class="telegram"><a href="https://t.me/+79235031641"><i class="fa fa-telegram"></i></a></li>
						<li class="Gmail"><a href="mailto:natabober1964@gmail.com"><i class="fa fa-envelope"></i></a></li>
					</ul>
					<!-- End Social -->
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>© 2024 Интернет-магазин <a href="#">СОВО-СОВА КЕМЕРОВО</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>
