<!-- Start Story -->
{% load static %}
<section id="story" class="story section">
    <style>
        .container-story {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 50px;
        }
        .photo, .text {
          flex: 1;
          padding: 20px;
          box-sizing: border-box;
        }
        .photo img {
          max-width: 100%;
          height: auto;
        }
        .text {
            padding:40px;
            font-size:20px;
            
        }
      </style>
    </head>
    <body>
      <div class="container-story">
        <div class="photo">
          <img src="{% static 'img/основатель.jpg' %}" alt="Фотография">
        </div>
        <div class="text">
          <h2>СОЛДАТЕНКОВ ПЕТР АНАТОЛЬЕВИЧ<br>(основатель компании)</h2>
          <p>По профессии врач, специализация — хирургия, фармакология.
            Профессиональную деятельность начал с третьего курса института (в 1996 году) по специальности «фармакология».
            Имеет второе высшее юридическое образование, и ученую степень доктора экономических наук.
            - академик Международной академии экономики и бизнеса;
            - академик Международной академии наук экологии, безопасности человека и природы (МАНЭБ);
            - академик Международной академии общественных наук;
            - академик Международной академии холода;
            - член-корреспондент Международной академии меценатства.</p>
        </div>
      </div>
      <div class="container">
        <div class = "history">
            <h1>С 2002 г. занимается научными разработками в сфере омоложения.
                В 2005 г. основал Национальный научно-производственный центр технологии омоложения — динамично развивающееся предприятие с собственной научной и производственной базой и стабильным доходом.
                В период с 2007 по 2013 г. открыл ряд компаний, вошедших в Группу компаний ННПЦТО.
                В 2011 г. получил ученую степень доктора экономических наук, стал академиком.
                В 2012 г. удостоен ученого звания «профессор».
                За время своей деятельности Петр Анатольевич удостоен множеством престижных наград с сфере науки.
            </h1>

        </div>

      </div>
      </body>
</section>
<!--/ End story -->	