{% load static %}
<section id="testimonials" class="testimonials section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="testi-content">
                    <h2>What People Says</h2>
                    <div class="owl-carousel testimonial-slider">
                        <!--Start single-testimonial -->
                        <div class="single-testimonial">
                            <img src="{% static ' img/author1.jpg' %}" alt="#">
                            <p><i class="fa fa-quote-left"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </i></p>
                            <div class="star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <span class="name">naimur rahman</span>
                        </div>
                        <!--End single-testimonial -->
                        <!--Start single-testimonial -->
                        <div class="single-testimonial">
                            <img src="{% static ' img/author2.jpg'%}" alt="#">
                            <p><i class="fa fa-quote-left"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </i> </p>
                            <div class="star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <span class="name">Sabbir Ahmed</span>
                        </div>
                        <!--End single-testimonial -->
                        <!-- Single Testimonial -->
                        <div class="single-testimonial">
                            <img src="{% static ' img/author1.jpg'%}" alt="#">
                            <p><i class="fa fa-quote-left"></i><i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </i></p>
                            <div class="star">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </div>
                            <span class="name">Mahedi Hasan</span>
                        </div>
                        <!--/ End Single Testimonial -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End testimonial -->