{% load static %}
<section id="latest-works" class="latest-works section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <h2>My <span>Portfolio</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <!-- Project Nav -->
                <div class="works-menu wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                    <ul>
                        <li class="active" data-filter="*"><i class="fa fa-tasks"></i>All Works</li>
                        <li data-filter=".print"><i class="fa fa-laptop"></i>WEB DEVELOPMENT</li>
                        <li data-filter=".identity"><i class="fa fa-mobile"></i>App Development</li>
                        <li data-filter=".branding"><i class="fa fa-camera"></i>Photography</li>
                        <li data-filter=".web"><i class="fa fa-wordpress"></i>WORDPRESS</li>
                        <li data-filter=".wordpress"><i class="fa fa-life-ring"></i>SEO Marketing</li>
                    </ul>
                </div>
                <!--/ End Project Nav -->
            </div>
        </div>
        <div class="row">
            <div class="isotop-active">
                <div class="col-md-4 col-sm-4 col-xs-12 print identity">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf1.jpg' %}" alt="#">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">WEB DEVELOPMENT</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wordpress branding">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf2.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">Wordpress</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 web">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf3.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">App Development</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12  wordpress">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf4.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">WEB DEVELOPMENT</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12  branding">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf5.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">Photography</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12  branding">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf6.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">SEO Marketing</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 web print">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf7.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">Photography</a></h4>
                            <div class="link"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 web print">
                    <!-- single-work -->
                    <div class="single-work">
                        <img src="{% static ' img/pf8.jpg' %}" alt="">
                        <div class="works-hover">
                            <h4><a href="pf-2colum.html">App Development</a></h4>
                            <div class="link"><a href="portfolio-single.html"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Works -->
	